* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo cinza */
body {
    background-color: #dcdcdc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa do formulário */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px black;
}

h2 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

/* Mensagem de erro */
.erro {
    color: red;
    font-size: 14px;
    margin-top: 3px;
}

button {
    margin-top: 15px;
    padding: 6px 10px;
}