main{
    background-color: #fff;
}

body{
    font-family: Helvetica;
    color: #444;
    background-color: #ddd;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

h1, h2{
    color: rgb(140, 76, 8)
}

h2 + p{
    text-indent:2rem;
}

a:link{
    color: blue;
    background-color: yellow;
}

a:visited{
    color:#8F3DB3;
}

a:hover{
    background-color: gray;
}

a:active{
    color:red;
}

section{
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}

.oculto {
    display: none;
}

/* Evita seleção de texto ao dar duplo clique */
h2 {
    user-select: none;
    cursor: pointer; 
}