body{
    width: 450px;              
    margin: 50px auto;          
    padding: 30px;              
    border: 2px solid #333;     
    border-radius: 8px;         
    background-color: #ffffff;  
    box-shadow: 0 4px 8px black; 
    text-align: center;         
    font-family: sans-serif;
}


ol {
        list-style-position: outside;
        display: inline-block;
        text-align: left;
        width: 100%;
        max-width: 350px;
        padding: 0;
        margin-top: 20px;
    }

li {
    background-color: #cfe2f3;
    border: 1px solid #a4c2f4;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
}

    