/* Estilo geral */
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

/* Cabeçalho */
header {
    background-color: #d9d9d9;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #666;
}

/* Navegação */
nav {
    background-color: #666;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 16px;
}

/* Conteúdo principal */
main {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    color: #666;
}

main h2 {
    margin-top: 0;
}

/* Lista da seção de valores */
main ul {
    padding-left: 20px;
}

/* Rodapé */
footer {
    text-align: center;
    margin: 20px 0 30px;
    font-size: 12px;
    color: #333;
}

@media (max-width: 500px){
    main{
        width: 100%;
    }

    nav{
        display: none;
    }
}
