/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #dcdcdc;
    width: 70%;
    margin: 0 auto;         /* Centraliza TODO o conteúdo */
}

/* Cabeçalho */
header {
    background: #555;
    color: white;
    text-align: center;
    padding: 70px 0;
    margin: 10px 0;
    border-radius: 10px;
}

/* Menu */
nav {
    background: #555;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    margin-bottom: 10px;
    color: #555;
}

main h2 {
    margin-bottom: 20px;
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.galeria img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}

/* Rodapé */
footer {
    background: #555;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 40px;
}
